.popup__username {
    border: none;
    border-bottom: 1px solid #a8a8a8;
    margin: 0 34px 23px 36px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 30px;
    padding: 0;
    padding-bottom: 3px;
}
.popup__username:focus {
    border: 2px solid rgb(55, 154, 235);
    border-radius: 5px;
    outline: none;
}
@media screen and (max-width: 320px) {
    .popup__username {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 0 22px 23px 22px;
    }
}